Repository smartdevicelink/sdl_app_library_guides, pull requests merged in 2020-11, with the labels that each got.

#380 Separate integration basics guides
  config.json
  docs/Frequently Asked Questions/React Native/index.md
  docs/Getting Started/Adding the Lock Screen/index.md
  docs/Getting Started/Example Apps/index.md
  docs/Getting Started/Integration Basics - JS/index.md
  docs/Getting Started/Integration Basics - Java/index.md
  docs/Getting Started/Integration Basics - iOS/index.md
  docs/Getting Started/Using AOA Protocol/index.md
  docs/Video Streaming for Navigation Apps/Introduction/index.md
Labels: fixing content, platform-android, platform-iOS, platform-javaEE, platform-javascript

#384 Update JS Suite docs to include changes from SubscribeButtonManager
  docs/Displaying a User Interface/Template Subscription Buttons/index.md
Labels: fixing content, platform-javascript

#385 Update JS Suite docs to include Calling a Phone Number section
  config.json
  docs/Other SDL Features/Calling a Phone Number/index.md
Labels: adding content, platform-javascript

#381 Feature/video stream alignment
  config.json
  docs/Migrating to Newer SDL iOS Versions/Updating to v5.0+/index.md
  docs/Video Streaming for Navigation Apps/Introduction/index.md
  docs/Video Streaming for Navigation Apps/Video Streaming - Java/index.md
  docs/Video Streaming for Navigation Apps/Video Streaming - iOS/index.md
Labels: fixing content, platform-android, platform-iOS
